.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/treegif.gif");
  background-position: 52.37% 100%;
  background-size: 115%;
}

.u-section-1 .u-sheet-1 {
  min-height: 429px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 448px;
  margin: 107px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 8px 56px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 927px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 570px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 431px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 78px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-2 .u-btn-1 {
  margin: 37px auto 0;
}

.u-section-2 .u-layout-wrap-2 {
  pointer-events: auto;
  width: 570px;
  margin: -421px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 431px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  margin: 78px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 34px 0 0;
}

.u-section-2 .u-btn-2 {
  margin: 62px auto 0;
}

.u-section-2 .u-layout-wrap-3 {
  pointer-events: auto;
  width: 570px;
  margin: 0 auto 18px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 438px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-5 {
  margin: 78px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 34px 0 0;
}

.u-section-2 .u-btn-3 {
  margin: 37px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 470px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 340px;
  }
}